/* 隐藏数字输入框的上下箭头 */
input[type=number].hide-spin-buttons::-webkit-outer-spin-button,
input[type=number].hide-spin-buttons::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].hide-spin-buttons {
  -moz-appearance: textfield;
}